#header{
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/luca-bravo-XJXWbfSo2f0-unsplash.jpg) no-repeat center center/cover;
  text-align: center; 
  background-attachment: fixed;

}

.content-01 {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	height: 800px;
	background: #002B33;
	opacity: 0.85;
 
}

.content-02 {
  top: 35px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateY(-2.1rem);
	-ms-transform: translateY(-2.1rem);
	transform: translateY(-2.1rem);
 
}
    
#port{
    color: #00768C;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.565;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .3rem;
    overflow: visible;
}

#name{
    color:#FFFFFF;
    font-family:"poppins", sans-serif;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1.071;
    max-width: 900px;
    margin-top: 0;
    margin-bottom: 0.6rem;
    margin-left: auto;
    margin-right: auto;
}

#developer{
    font-family: "lora-regular", serif;
    font-size: 1rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
}